body{font-family: 'Montserrat', sans-serif;}
.header-bar{float: left;height: 40px;width: 100%;background: #141d1e;}
.right-cont {float: left;padding: 0px 15px 0px 15px;
    height: 40px;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    display: flex;
    align-items: center;
}
.left-nobordr{border-left:0px !important}
.right-cont a i{margin-right: 5px}
.right-cont a {
    font-size: 11px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
}
.socail-links.right-cont.pull-right {float: right;}
.socail-links.right-cont.pull-right a {margin: 0 9px;font-size: 14px;}
.book-online{float: right;padding: 0px 0px 0px 15px;
    height: 40px;
    display: flex;
    align-items: center;}
    nav.navigation li {
        display: inline-block;
        float: left;
        margin: 0 15px;
    }
    .search-btn button.searrch {
        background: transparent;
        border: 0px;
        border-left: 1px solid #ddd;
        padding: 0 0px 0 15px;
        font-size: 12px;
        color: #444;
        cursor: pointer
    }
    button:focus{outline: none !important}
    .search-btn {
        float: right;
        min-height: 90px;
        align-items: center;
        display: flex;
    }
    nav.navigation {
        float: right;
        display: flex;
        height: 100%;
        align-items: center;
        min-height: 90px;
        background: transparent !important;
        line-height: 1;
        width: auto;
        box-shadow: none;
    }
    .icons-part{float: left; width:100%; text-align: center}
    .icons-part svg{height:50px}
    .tittle-part {
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    section.our-services {
        float: left;
        width: 100%;
        padding: 70px 0;
    }
    section.our-services .block-part h5{
    font-size: 15px;
    color: #3a4142;
    background: url(http://sparrow-html.weblionmedia.com/img/pop-hdr.png) center bottom no-repeat;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0px 0px 14px 0px;
    float: left; width:100%;text-align: center;
    text-transform: uppercase;
}
.block-part {
    float: left;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    border-right: 1px dashed #ddd;
    margin: 20px 0;
}
.block-part a {
    color: #ff7200;
    font-size: 13px;
    font-family: Lora;
    font-style: italic;
    font-weight: 600;
}
section.our-services .block-part p{
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    color: #626262;
    letter-spacing: 0px;
    float: left;width: 100%;
    margin-top: 0;
}
.row{margin-bottom: 0px !important}
section.booking-form {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.radio-outer span:last-child {margin: 0}
.radio-outer span {
    float: left;
    width: auto;
    margin-right: 10px;
}
.radio-outer{padding: 0 5px !important}
.book-main-form  [type="radio"]:not(:checked)+label:before, .book-main-form [type="radio"]:not(:checked)+label:after {
    border: 1px solid #ddd;
}
.book-main-form [type="radio"]:checked+label:after, .book-main-form [type="radio"].with-gap:checked+label:after {
    background-color: #ff7200;
    
}
.book-main-form  [type="radio"]:checked+label:after, .book-main-form  [type="radio"].with-gap:checked+label:before, .book-main-form  [type="radio"].with-gap:checked+label:after {
    border: 2px solid #ff7200;
}
.book-main-form [type="radio"]:not(:checked)+label,.book-main-form  [type="radio"]:checked+label{font-size: 12px; padding-left: 25px ; color: #2c2c2c}
.book-main-form .input-field textarea{height: 100px !important;resize: none}
.book-main-form .input-field input[type="text"]  ,.radio-outer ,.book-main-form .input-field input[type="email"] , .book-main-form .input-field textarea{
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    color: #2c2c2c;
    background: #fff;
}
.book-main-form .input-field1 label.new-label {
    position: absolute;
}
.input-field1{position: relative; margin-bottom: 20px;}
.book-main-form .input-field>select {
    display: block;
    background: #fff;
    position: relative;
    width: 100%;
    pointer-events: auto;
    height: 40px;
    top: 0;
    border: 1px solid #ddd;
    color: #2c2c2c;
    left: 0;
    opacity: 1;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 13px;
    margin-bottom: 20px;
}
.rightborder0 {
    border-right: 0px;
}
.address-part .fot-list li {
    float: left;
    width: 100%;
    padding: 0 0 10px 25px;
    position: relative;
    font-size: 14px;
    color: #2c2c2c;
}
.address-part .socail-links.right-cont.pull-right {
    float: left;
    border: 0px;
    color: #333;
    padding: 0;
    margin-top: 20px;
    height: auto;
}

.address-part .socail-links.right-cont.pull-right a:first-child{margin-left: 0px}
.address-part .socail-links.right-cont.pull-right a{
  color: #2c2c2c;
}
.address-part .fot-list li a {

    font-size: 14px;
    color: #2c2c2c;
}
.side-cont{float: left; width:100%;}
.side-cont h5{
    margin-top: 0;
text-transform: uppercase;
font-family: 'Montserrat';
margin-bottom: 28px;
font-size: 17px;
font-weight: normal;
color: #141d1e;
}
.book-main-form .input-field {
    margin: 0;
}
ul.fot-list {
    float: left;
    width: 100%;
    margin: 0
}
.book-main-form .input-field input[type=text]:focus + label , .book-main-form .input-field input[type=email]:focus + label {
    color: #333;
  }
  .book-main-form.contact-form {
    margin: 0;
    max-width: 100%;
    padding: 0;
    box-shadow: none;
}
.book-main-form h2{
float: left;
width: 100%;
margin: 0 0 20px 0;
text-align: center;
font-size: 20px;
text-transform: uppercase;
font-weight: 500;
}
.text-center {
    text-align: center;
}
.book-main-form p {
    margin: 0;
    font-size: 13px;
    font-family: Lora;
    font-style: italic;
    float: left;
    width: 100%;
}
.book-main-form {
    float: right;
    width: 100%;
    background: #ffff;
    padding: 20px 25px 0;
    position: relative;
    margin-top: -500px;
    max-width: 480px;
    box-shadow: -5px -5px 10px rgba(0,0,0,0.1);
}
.carousel .carousel-item>img {
    width: 100%;
    height: 560px;
}
label.child-seat {
    float: left;
    width: 100%;
    top: -10px;
    transform: translateY(0);
    POSITION: RELATIVE;
    PADDING: 0 10PX;
    FONT-SIZE: 12PX;
    COLOR: #333;
    FONT-WEIGHT: 600;
    MARGIN-BOTTOM: 5PX;
}
    .tittle-part p {
        font-family: 'Lora';
        line-height: 26px;
        font-size: 15px;
        font-style: italic;
        color: #455051;
        display: inline-block;
        width: 640px;
        margin: 0;
        max-width: 100%;
    }
    .our-services h3 {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 24px;
        /* font-weight: 100; */
        text-transform: uppercase;
        letter-spacing: 0;
        margin: 0 0 20px 0;
        color: #141d1e;
        font-weight: normal;
        margin-bottom: 12px;
        padding: 0px 0px 16px 0px;
        background: url('http://sparrow-html.weblionmedia.com/img/pop-hdr.png') center bottom no-repeat;
    }
    .book-online a.btn.cust-btn {
        font-size: 10px;
        color: #fff;
        font-weight: 600;
        display: inline-block;
        background: #ff7200;
        border-radius: 2px;
        text-transform: uppercase;
        padding: 8px 12px;
        line-height: 16px;
        min-height: auto;
        height: auto;
    }
    nav.navigation li a {
        font-size: 12px;
        color: #2c2c2c;
        font-family: 'Montserrat';
        font-weight: normal;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
    }
    .main-header {float: left;
        height: 90px;
        width: 100%;
        background: #fff;
        -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
        -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
        box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.11);
        transition: height 0.5s;
    }
    .main-footer p {
        float: left;
        width: 100%;
        font-size: 13px;
        line-height: 22px;
        margin: 0 0 10px 0;
        opacity: 0.8;
    }
    .fot-list li {
        float: left;
        width: 100%;
        padding: 0 0 10px 25px;
        position: relative;
        font-size: 13px;
        color: #fff;
    }
    .news-cont {
        float: left;
        width: calc(100% - 80px);
    }
    .img-sec {
        float: left;
        width: 70px;
        height: 60px;
        background: rgba(0,0,0,0.2);
        margin-right: 10px;
    }
    .lower-footer {
        float: left;
        width: 100%;
        background: #000;
        height: 50px;
        color: #fff;
    }
    footer .socail-links.right-cont.pull-right a:last-child{margin-right: 0}
    footer .socail-links.right-cont.pull-right {
        border: 0px;
        height: 50px;
        padding: 0;
    }
    .copy-right {
        float: left;
        min-height: 50px;
        display: flex;
        align-items: center;
    }
    .copy-right p {
        margin: 0;
        float: left;
        font-size: 12px;
    }
    .news-cont h6 a {
        color: #fff;
        float: left;
        font-weight: 600;
    }
    .news-cont h6 {
        float: left;
        width: 100%;
        margin: 0px 0 5px 0;
        font-size: 12px;
    }
    .news:last-child{margin-bottom: 0; padding-bottom: 0px; border: 0px;}
    .news {
        float: left;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    .main-footer .news-cont p {
        opacity: 0.8;
        font-size: 10px;
        line-height: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
    }
    .img-sec img{float: left; width:100%; height: 100%; object-fit: cover}
    .quick-links li {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }
    .quick-links li a {
        color: #fff;
        font-size: 13px;
        float: left;
    }
    .fot-list li  a{color: #fff; white-space: normal;
        word-wrap: break-word;
        word-break: break-all;}
    .fot-list li span i {
        position: absolute;
        left: 0;
        top: 3px;
    }
    a.read-more{ color: #ff7200;
        font-size: 13px;
        font-family: Lora;
        font-style: italic;
        font-weight: 600;float: left;}
    footer{float: left; width:100%;}
    .main-footer h5 {
        font-size: 14px;
        color: #ffffff;
        margin-bottom: 12px;
        font-family: 'Montserrat';
        font-weight: normal;
        background: url(http://sparrow-html.weblionmedia.com/img/foot-lbl.gif) left bottom no-repeat;
        padding: 0px 0px 18px 0px;
        text-transform: uppercase;
    }
    .main-footer {
        float: left; width:100%;
        color: #fff;
        background: #141d1e;
        padding: 56px 0px 31px 0px;
    }
    .book-main-form .input-field > label:not(.label-icon).active , .book-main-form .input-field>select + label, .book-main-form .input-field1 label.new-label{
        -webkit-transform: translateY(-6px) scale(0.8);
        transform: translateY(-6px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        left: 20px;
      padding: 0 5px 3px;
      color: #333;
        background: #fff;
    }
    .input-field.col .radio-outer label{left: 0px}
    .book-main-form .input-field > label{font-size: 14px; left:25px;height: auto !important; width: auto !important; line-height: 1;}
    .book-main-form .input-field input:focus , .book-main-form .input-field>select:focus, .book-main-form .input-field textarea:focus{border-color: #ff7200 !important; outline: none !important}
    .book-main-form .input-field input.valid {border-color: green !important;}
    .book-main-form .input-field input.invalid {border-color: red !important;}
     input[type=text]:not(.browser-default), 
     input[type=password]:not(.browser-default), 
     input[type=email]:not(.browser-default), 
     input[type=url]:not(.browser-default), 
     input[type=time]:not(.browser-default), 
     input[type=date]:not(.browser-default), 
     input[type=datetime]:not(.browser-default), 
     input[type=datetime-local]:not(.browser-default), 
     input[type=tel]:not(.browser-default), 
     input[type=number]:not(.browser-default), 
     input[type=search]:not(.browser-default), 
     textarea.materialize-textarea{ box-shadow:none !important}
     section.heading-section {
        float: left;
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    section.about-cont {
        float: left;
        width: 100%;
        padding: 70px 0;
    }
    button.btn.cust-btn.waves-effect {
        background: #ff7200;
        font-size: 12px;
        box-shadow: none;
        /* padding: 0 15px; */
        margin-top: 12px;
        border-radius: 50px;
        margin: 10px auto;
        display: inline-block;
    }
    .carousel .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: auto;
        top: 50%;
        margin: 0;
        bottom: auto;
        transform: translateY(-50%);
    }
    .carousel .indicators .indicator-item{
        display: block;
        margin: 5px 20px;
    }
section.heading-section h1 {
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
    font-size: 36px;
    font-weight: 500;
}
section.about-cont p {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
    color: #2c2c2c;
    margin: 0 0 15px 0;
}
nav.navigation li a.active , nav.navigation li a:hover{
    /* text-decoration-style: solid;
    text-decoration-line: line-through; */
    color: #ff7200;
   
    transition: 0.5s;
}
.custom-tab  li{float: left; width: 100%; margin-bottom: 10px;}
.custom-tab .collapsible-header.active {  color: #ff7200; background: #fff;  transition: border 0.5s; border-left-color:#ff7200}
.custom-tab .collapsible-header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 15px !important;
    align-items: center;
    border: 0px;
    background: #fcfcfc;
    border-left: 3px solid transparent;
    transition: border 0.5s;
}
ul.cards-links {
    float: left;
    width: 100%;
    text-align: right;
    margin: 0;
}
ul.cards-links li{display: inline-block}
section.about-cont .custom-tab p label {
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    color: #2c2c2c;
    text-transform: uppercase;
}
.custom-tab .collapsible-body {
    float: left;
    width: 100%;
    background: #fcfcfc;
    border: 0px;
    border-top:0px;
}
.custom-tab ul {
    margin: 0;
    float: left;
    width: 100%;
    box-shadow: none;
    border: 0;
}
.custom-tab .collapsible-header.active i {
    transform: rotate(-45deg);
    transition: 0.5s;
}
.custom-tab .collapsible-header i {
    width: 2rem;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    transform: rotate(0deg);
    transition: 0.5s;
}
.custom-tab {
    float: left;
    width: 100%;
    position: relative;
}
.quick-links li a:hover , .quick-links li a.active{
    color: #ff7200;
   
    transition: 0.5s;
}
    section.heading-section::after {position: absolute; background: rgba(0,0,0,0.3);content: ''; left: 0; right: 0;top: 0; bottom: 0}
   
    #nav-icon2 {
        display: none;
        width: 25px;
        height: 30px;
        position: relative;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        float: right;
        margin-top: 35px;
        margin-right: 10px;
    }
      
     
      
      #nav-icon2 span {
        display: block;
        position: absolute;
        height: 2px;
        width: 50%;
        background: #d3531a;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      
      #nav-icon2 span:nth-child(even) {
        left: 50%;
        border-radius: 0;
      }
      
      #nav-icon2 span:nth-child(odd) {
        left:0px;
        border-radius: 0px;
      }
      
      #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
        top: 0px;
      }
      
      #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
        top: 8px;
      }
      
      #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
        top: 16px;
      }
      
      #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      #nav-icon2.open span:nth-child(1) {
        left: 2px;
        top: 4px;
      }
      
      #nav-icon2.open span:nth-child(2) {
        left: calc(50% - 2px);
        top: 4px;
      }
      
      #nav-icon2.open span:nth-child(3) {
        left: -50%;
        opacity: 0;
      }
      
      #nav-icon2.open span:nth-child(4) {
        left: 100%;
        opacity: 0;
      }
      
      #nav-icon2.open span:nth-child(5) {
        left: 2px;
        top: 13px;
      }
      
      #nav-icon2.open span:nth-child(6) {
        left: calc(50% - 2px);
        top: 13px;
          }
    body.open{    position: relative;
        margin-right: 240px;
        margin-left: -240px; transition: margin 0.5s}  
    body{transition: margin 0.5s}
    header.sticky-header .main-header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 10;
        height: 50px;
        transition: height 0.5s;
    }
    header.sticky-header .main-header  .search-btn{min-height: 50px}
    header.sticky-header .main-header  nav.navigation{min-height: 50px}
    header.sticky-header .main-header  #nav-icon2{margin-top: 15px;}
    .side-block-panel {
        float: left;
        width: 100%;
    }
    .side-block-panel-head {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .side-block-panel-head h3 {
        margin: 0;
        float: left;
        width: 100%;
        font-size: 18px;
        text-transform: capitalize;
        line-height: 23px;
        font-weight: 500;
        color: #000;
        text-align: center;
        background: url(http://sparrow-html.weblionmedia.com/img/pop-hdr.png) center bottom no-repeat;
        padding-bottom: 10px;
    }
    .side-block-panel {
        float: left;
        width: 100%;
        border-right: 1px dashed #dddd;
        padding-right: 20px;
    }
    .side-block-panel-body {
        float: left;
        width: 100%;
        padding: 20px;
        background: #fbfbfb;
    }
    span.icon-set {
        float: left;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 0px;
    }
    .side-block-panel-body ul{float: left; width: 100%; margin: 0;}
    .side-block-panel-body ul li{float: left; width: 100%; position: relative;margin-bottom: 15px; padding-left: 40px;}
    .side-block-panel-body ul li h4 {
        float: left;
        width: 100%;
        margin: 0;
        font-size: 13px;
        color: #3a4142;
        padding-bottom: 5px;
        font-weight: 500;
        font-family: 'Montserrat';
    }
    span.cross {
        POSITION: ABSOLUTE;
        RIGHT: 0;
        TOP: 50%;
        transform: translateY(-50%);
        padding: 0 10px;
        cursor: pointer;
        font-size: 18px;
    }
    .search-overlay.open {
        width: 100%;
        transition: width 0.5s;
        display: block;
    }
    .sticky-header     .search-overlay input[type="text"] {
        min-height: 50px;
        transition: 0.5s;
    }
    .search-overlay {
        float: left;
        transition: width 0.5s;
        width: 0;
        max-width: 67%;
        position: absolute;
        display: none;
        background: #fff;
    }
    .search-overlay input[type="text"] {
        border-bottom: 0px;
        margin: 0;
        transition: 0.5s;
        min-height: 90px;
        font-weight: 100;
        font-size: 18px;
    }
    .cont-serices {
        float: left;
        width: calc(100% - 150px);
      
        text-align: left;
        padding:10px 15px;
    }
  .services-list-block  .icons-part svg {
        height: 70px;
    }
    .services-list-block.block-part .icons-part.vehicles{background: #fff;}
    .services-list-block.block-part:nth-child(even) .icons-part.vehicles{background: #fcfcfc;}
    section.about-cont .cont-serices p{margin: 0}
    .cont-serices h5 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 0 5px 0;
        font-weight: 500;
        float: left;
        width: 100%;
    }
    .services-list-block.block-part .icons-part {
    
        align-items: center;
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    ul.vehicles-info li:last-child::after {margin: 0;content: ""}
    ul.vehicles-info li:last-child{margin: 0;}
    ul.vehicles-info li::after {
        content: "|";
        opacity: 0.2;
        position: relative;
        margin-left: 10px;
    }
    ul.vehicles-info li label {
        font-family: Lora;
        font-style: italic;
        color: #2c2c2c;
        FONT-SIZE: 13PX;
        MARGIN-RIGHT: 5PX;
        FONT-WEIGHT: 600;
    }
    ul.vehicles-info {
        float: left;
        width: 100%;
        border: 1px dashed #ddd;
        padding: 8px 10px;
        margin: 5px 0 ;
        background: #fff;
    }
    ul.vehicles-info li label{}
    ul.vehicles-info li {
        float: left;
        margin-right: 10px;
        position: relative;
        font-size: 13px;
    }
    .services-list-block.block-part:nth-child(even) {
        background: #fcfcfc;
        border: 1px solid #fcfcfc;
    }
    .side-block-panel-body ul li:last-child{margin: 0}
    .side-block-panel-body ul li p{float: left; width: 100%; margin:0;font-size: 12px; line-height: 21px}
    .services-list-block.block-part {
        padding: 0;
        margin: 0 0 25px 0;
        border: 0;
        position: relative;
       
    }
    .icons-part img {
        max-width: 100%;
    }
    .logo-part {
        FLOAT: LEFT;
        WIDTH: 150PX;
        display: flex;
        height: 90px;
        align-items: center;
        transition: height 0.5s
    }
    .logo-part h1 a{color: #ff7200;}
    .logo-part h1 {
        margin: 0;
        font-size: 26px;
    }
    .sticky-header   .logo-part {height: 50px; transition: height 0.5s}
    .custom-org ,  .custom-org:hover ,  .custom-org:focus {
        background: #ff7200;
    }
    .services-list-block.block-part:last-child {margin: 0}
    @media (max-width:1200px){
        .logo-part {width: 100px}
        nav.navigation li{margin: 0 8px;}

    }
    @media(min-width:641px)  and (max-width:992px){
        .logo-part {width: 80px}
    .side-block-panel {
        float: left;
        width: 100%;
        border-right: 0;
        padding-right: 0;
        margin-bottom: 15px;
    }
    nav.navigation li {
        margin: 0 5px !important;
    }
    .container {
        width: 90% !important;
    }
    .custom-tab{margin-top: 20px}
    nav.navigation li{margin: 0 8px}
    nav.navigation li a{font-size: 11px}
}
    @media(max-width:640px){
        ul.cards-links {
            float: left;
            width: 100%;
            text-align: left;
        }
        .custom-tab{margin-top: 20px}
        .s12{width: 100% !important}
        .main-header{height: auto; position: relative}
        .email-link.right-cont.left-nobordr {display: none;}
        .header-bar{height: auto}
        body.open nav.navigation{
            transform: translate3d(0,0,0);
        }
        ul.vehicles-info li::after {margin-left: 5px;}
        ul.vehicles-info li{font-size: 12px; margin-right:5px;}
        ul.vehicles-info li label{font-size: 12px}
        section.about-cont p{font-size: 12px; line-height: 22px}
        .services-list-block.block-part .icons-part {
        
            display: block;
        
            width: 150px;
            height: auto;
            margin: 10px auto 0;
            float: none;
        }
        .cont-serices{width: 100%; text-align: center
        }
        .side-block-panel{padding-right: 0px; border: 0px;}
        #nav-icon2{display: block}
       /* .open nav.navigation {right: 0;   transition: transform 0.5s; } */
        nav.navigation {
            position: fixed;
            display: block;
            transition: transform 0.5s;
            transform: translate3d(240px,0,0);
            
            right: 0;
            background: #333 !important;
            float: left;
            width: 100%;
            min-height: auto;
            z-index: 100;
            top: 0;
            height: 100vh;
            overflow-y: auto;
            width: 240px;
        }
        .block-part {
            float: left;
            width: 100%;
            padding: 0 0 20px 0px;
           border-right: 0px;
            border-bottom: 1px dashed #ddd;
        }
        .carousel .carousel-item>img {
            width: 100%;
            height: 200px;
        }
        .block-part.rightborder0.btmborder0{border: 0px; margin-bottom: 0; padding-bottom: 0}
        section.booking-form .input-field.col.s6, section.booking-form .input-field.col.s4 ,.input-field1.col.s6{width: 100%}
        .book-main-form{margin: 0 auto; box-shadow: none; display: block; float: none}
        section.booking-form{margin-top: -20px}
        nav.navigation li a{color: #fff;}
        nav.navigation li{float: left; width: 100%; padding: 10px 20px;margin: 0}
        header .socail-links.right-cont.pull-right{display: none}
        section.heading-section h1{font-size: 18px}
        footer .socail-links.right-cont.pull-right {border: 0px;height: auto;padding: 0 0 10px 0;display:block;width: 100%;text-align: center;}
        section.heading-section{height: 120px;}
        .book-main-form.contact-form{margin-top: 30px;}
        .lower-footer{text-align: center; height: auto}
        .copy-right p{width: 100%;}
        footer .socail-links.right-cont.pull-right a{display: inline-block; float: none}
        .copy-right {float: left;min-height: auto;display: block;align-items: center;width: 100%;padding: 10px 0;}
    }